<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>title</key>
		<string>By First    =</string>
		<key>selector</key>
		<string>align:</string>
		<key>specifier</key>
		<string>=</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>string</key>
				<string>^\s*</string>
				<key>tailMode</key>
				<integer>2</integer>
				<key>matchMode</key>
				<integer>1</integer>
				<key>control</key>
				<dict>
					<key>string</key>
					<string></string>
					<key>needPadding</key>
					<true/>
					<key>paddingString</key>
					<string> </string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*(?&lt;=[\w\s])[\|\+\-\*]?=(?=[\w\s])\s*</string>
				<key>position</key>
				<integer>-1</integer>
				<key>control</key>
				<dict>
					<key>needTrim</key>
					<true/>
					<key>format</key>
					<string> %@ </string>
					<key>needFormat</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*//.*$</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string>%@</string>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*/\*.*$</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string>%@</string>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>Define     Group</string>
		<key>selector</key>
		<string>align:</string>
		<key>specifier</key>
		<string>#define</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>string</key>
				<string>^\s*</string>
				<key>tailMode</key>
				<integer>2</integer>
				<key>control</key>
				<dict>
					<key>string</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s+</string>
				<key>tailMode</key>
				<integer>2</integer>
				<key>control</key>
				<dict>
					<key>string</key>
					<string> </string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*//.*$</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string>%@</string>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*/\*.*$</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string>%@</string>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>Property  Group</string>
		<key>selector</key>
		<string>align:</string>
		<key>specifier</key>
		<string>@property</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>string</key>
				<string>^\s*@property\s*</string>
				<key>tailMode</key>
				<integer>2</integer>
				<key>control</key>
				<dict>
					<key>string</key>
					<string>@property </string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>(?&lt;=)\)\s*</string>
				<key>tailMode</key>
				<integer>2</integer>
				<key>control</key>
				<dict>
					<key>string</key>
					<string>) </string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\w+</string>
				<key>matchMode</key>
				<integer>2</integer>
				<key>control</key>
				<dict>
					<key>needPadding</key>
					<true/>
					<key>paddingString</key>
					<string> </string>
					<key>isMatchPadding</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*\w+;</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
					<key>format</key>
					<string> %@</string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*\*+\s*\w+;</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string> %@</string>
					<key>needTrim</key>
					<true/>
					<key>needFormat</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*//.*$</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string>%@</string>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>\s*/\*.*$</string>
				<key>isOptional</key>
				<true/>
				<key>control</key>
				<dict>
					<key>format</key>
					<string>%@</string>
					<key>needFormat</key>
					<true/>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>title</key>
		<string>Variables Group</string>
		<key>selector</key>
		<string>align:</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>string</key>
				<string>^\s*</string>
				<key>tailMode</key>
				<integer>2</integer>
				<key>matchMode</key>
				<integer>1</integer>
				<key>control</key>
				<dict>
					<key>string</key>
					<string></string>
					<key>needPadding</key>
					<true/>
					<key>paddingString</key>
					<string> </string>
				</dict>
			</dict>
			<dict>
				<key>string</key>
				<string>[\s\*]+</string>
				<key>control</key>
				<dict>
					<key>foundString</key>
					<string>*</string>
					<key>needFormatWhenFound</key>
					<true/>
					<key>notFoundFormat</key>
					<string> %@</string>
					<key>format</key>
					<string> %@ </string>
					<key>needTrim</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
