<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Auto Align</string>
		<key>selector</key>
		<string>autoAlign</string>
		<key>isKeyMenuItem</key>
		<true/>
		<key>shortcut</key>
		<dict>
			<key>key</key>
			<string>x</string>
			<key>mask</key>
			<string>cmd+shfit</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Setting</string>
		<key>selector</key>
		<string>showSetting:</string>
	</dict>
</array>
</plist>
